<html>
<head>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <title>Buy Some Kicks</title>
</head>
<body>
    <div class='container'>
        <h1>Buy some kicks!</h1>

        <h2><a href='/stores'>See all stores</a></h2>

        <h2><a href='/brands'>See all brands</a></h2>
    </div>
</body>
</html>
