<html>
<head>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <title>Buy Some Kicks</title>
</head>
<body>
    <h1>Buy some kicks!</h1>

    {% if stores is not empty %}
        <h3>Stores</h3>
        {% for store in stores %}
            <p><a href='/store/{{ store.getId }}'>{{ store.getName }}</a></p>
        {% endfor %}
    {% else %}
        <h3>Sorry, there are no stores to display</h3>
    {% endif %}

    <form action='/create_store' method='post'>
        <label for='name'>Name</label>
        <input id='name' name='name' type='text' required>
        <button type='submit'>Add a store</button>
    </form>

    {% if brands is not empty %}
        <h3>brands</h3>
        {% for brand in brands %}
            <p><a href='/brand/{{ brand.getId }}'>{{ brand.getName }}</a></p>
        {% endfor %}
    {% else %}
        <h3>Sorry, there are no brands to display</h3>
    {% endif %}

    <form action='/create_brand' method='post'>
        <label for='brand'>Brand</label>
        <input id='brand' name='brand' type='text' required>
        <button type='submit'>Add a brand</button>
    </form>
</body>
</html>
